@import url("https://fonts.googleapis.com/css2?family=Mulish&family=Poly:ital@0;1&family=Roboto+Condensed:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poly", serif;
}
/* navbar css */
.h {
  margin-left: 400px;
}
.navbarbox {
  position: relative;

  left: 90px;
}
.box {
  height: 40px;
  width: 40px;
  background-color: #ffffff;
}
.box2 {
  border: 5px solid red;
  height: 25px;
  width: 25px;
  margin-left: 7px;
  position: relative;
  top: 8px;
}

.navcolor {
  color: #ffffff;
  background: #0b090a;
}
.btn {
  background-color: #db1218;
  border: none;
  color: white;
  padding: 6px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.btn:hover {
  background-color: #ffffff;
  color: #000000;
}
.arrow {
  border: solid #db1218;
  border-width: 0 1px 1px 0;

  display: inline-block;
  padding: 3px;
  margin-left: 4px;
  margin-bottom: 2px;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
}

li {
  float: right;
}

li a {
  padding: 8px;
  text-decoration: none;
  color: #ffffff;
}
.color:hover {
  color: #ffffff;
}

/* home page */

.scooty {
  height: 500px;
  width: 1000px;
  position: relative;
  right: 350px;
  bottom: 100px;
  animation: UpDown 3s linear infinite;
  animation-timing-function: ease-in-out;
}
.gif {
  height: 350px;
  margin-top: 60px;
  position: relative;
  right: 60px;
}
.dflex {
  display: flex;
}

.dots {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #d3d3d3;
  display: flex;
  margin-left: 5px;
  margin-top: 0;
}

.flexx {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 80px;
}

.btnn {
  background-color: #db1218;
  border: none;
  color: white;
  padding: 6px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.btnn:hover {
  background-color: #000000;
  color: #ffffff;
}

.underline:hover {
  display: inline;
  border-style: none none solid none;
  border-color: #db1218;
}

/* animation */
@keyframes colorchange {
  0% {
    color: #db1218;
  }
  40% {
    color: #000000;
  }
  70% {
    color: #db1218;
  }
  100% {
    color: #000000;
  }
}

.textcolor {
  animation-name: colorchange;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes UpDown {
  0% {
    bottom: 80px;
  }
  50% {
    bottom: 100px;
  }
  100% {
    bottom: 80px;
  }
}

.toggle {
  display: flex;
  justify-content: space-evenly;
  padding-top: 30px;
  background-color: #e5e5e5;
  height: 84px;
 
}
.buttomborder:hover {
  border: 2px;
  border-style: none none solid none;
  border-color: #db1218;
  text-decoration: none;
  color: #000000;
  
}
.dnone {
  display: none;
}

.togglerr {
  display: flex;
}

.buttomborder{
  text-decoration: none;
color: grey;
font-size: 20px;
}